@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    url('roboto-full-300.woff2') format('woff2'),
    url('roboto-full-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto-Regular'),
    local('Roboto-Regular'),
    url('roboto-full-400.woff2') format('woff2'),
    url('roboto-full-400.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    url('roboto-full-500.woff2') format('woff2'),
    url('roboto-full-500.woff') format('woff');
}
